<div class="container">

  <button class="btn btn-primary" routerLink="/conta/nova">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Conta
  </button>

  <div class="card">
    <div class="card-body">
      <div class="col-12">
        <div class="row text-center">
          <div class="col-4">
            <div class="card-body">
              <h5>
                Conta
              </h5>
            </div>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5>
                Nome Completo
              </h5>
            </div>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h5>
                Telefone
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card" *ngFor="let c of todasContas; let i = index">
    <a routerLink="/conta/{{i+1}}">
      <div class="col-12">
        <div class="row text-center">
          <div class="col-4">
            <div class="card-body">
              <h6>
                {{c.id}}
              </h6>
            </div>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h6>
                {{c.usuario.nomeCompleto}}
              </h6>
            </div>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h6>
                {{c.usuario.telefone}}
              </h6>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
