<div class="container">


  <div class="row mb-2">

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary ml-5" (click)="modalDeposito(depositoModal)">
        Depositar
      </button>
      <button type="button" class="btn btn-primary ml-5" (click)="modalSaque(saqueModal)">
        Sacar
      </button>
      <button type="button" class="btn btn-primary ml-5" (click)="abrirModalExtrato(modalExtrato)">
        Extrato
      </button>
    </div>

    <!-- MODAL DE OPERAÇÕES -->
    <ng-template #depositoModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title">
          Efetuar Deposito
        </h4>
      </div>
      <div class="modal-body">
        <form #opDepositoForm="ngForm" (ngSubmit)="deposito(opDepositoForm)">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="valor">Valor</label>
                <input type="money" name="valor" class="form-control" id="valor" placeholder="Valor"
                       ngModel>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="tipoDeConta">Tipo de Conta</label>
                <select name="tipoDeConta" class="form-control" id="tipoDeConta" ngModel>
                  <option value="">
                    Selecione um tipo de conta...
                  </option>
                  <option value="Normal">
                    Normal
                  </option>
                  <option value="Eventual">
                    Eventual
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div *ngIf="this.erro" class="alert alert-danger" role="alert">
            Saldo insuficiente.
          </div>

          <button type="submit" class="btn btn-primary mb-2 mr-2"> CONFIRMAR</button>
        </form>
      </div>
    </ng-template>

    <!-- MODAL DE SAQUE -->
    <ng-template #saqueModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title">
          Efetuar Saque
        </h4>
      </div>
      <div class="modal-body">
        <form #opSaqueForm="ngForm" (ngSubmit)="saque(opSaqueForm)">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="valorSaque">Valor</label>
                <input type="money" name="valor" class="form-control" id="valorSaque" placeholder="Valor"
                       ngModel>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="tipoDeContaSaque">Tipo de Conta</label>
                <select name="tipoDeConta" class="form-control" id="tipoDeContaSaque" ngModel>
                  <option value="">
                    Selecione um tipo de conta...
                  </option>
                  <option value="Normal">
                    Normal
                  </option>
                  <option value="Eventual">
                    Eventual
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div *ngIf="this.erro" class="alert alert-danger" role="alert">
            Saldo insuficiente.
          </div>

          <button type="submit" class="btn btn-primary mb-2 mr-2"> CONFIRMAR</button>
        </form>
      </div>
    </ng-template>

    <!-- Modal Extrato -->
    <ng-template #modalExtrato>
      <div class="modal-header">
        <h4 class="modal-title">
          Extrato
        </h4>
      </div>
      <div class="modal-body">
        <h6>
          Conta: {{this.conta.id}}
        </h6>
        <h6>
          Nome Completo: {{this.conta.usuario.nomeCompleto}}
        </h6>
        <h6>
          CPF: {{this.conta.usuario.cpf}}
        </h6>
        <h6>
          Saldo Conta Normal: R$ {{this.conta.saldoContaNormal}}
        </h6>
        <h6>
          Saldo Conta Eventual: R$ {{this.conta.saldoContaEventual}}
        </h6>
        <hr>
        <div *ngFor="let op of operacoes">
          <div>
            Data: {{op.data | date: 'dd-MM-yyyy HH:mm:ss'}}
          </div>
          <div>
            Operação: {{op.operacao === 'Depositar' ? 'Deposito' : 'Saque'}}
          </div>
          <div>
            Valor: {{op.valor}}
          </div>
          <div>
            Tipo Conta: {{op.tipoDeConta}}
          </div>
          <hr>
        </div>
      </div>
    </ng-template>


  </div>

  <div class="card">
    <div class="col-12">
      <div class="card-body">
        <h5 class="card-title">
          Informações do usuário
        </h5>
        <div class="row">
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Nome Completo
            </h6>
            <span>
              {{this.usuario.nomeCompleto}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              CPF
            </h6>
            <span>
              {{this.usuario.cpf}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Telefone
            </h6>
            <span>
              {{this.usuario.telefone}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Sexo
            </h6>
            <span>
              {{this.usuario.sexo}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              E-mail
            </h6>
            <span>
              {{this.usuario.email}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Data de nascimento
            </h6>
            <span>
              {{this.usuario.dataDeNascimento}}
            </span>
          </div>
        </div>
        <h5 class="card-title mt-5">
          Endereço do usuário
        </h5>
        <div class="row">
          <div class="col-2">
            <h6 class="card-subtitle  mt-2 text-muted">
              CEP
            </h6>
            <span>
              {{this.usuario.endereco.cep}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Logradouro
            </h6>
            <span>
              {{this.usuario.endereco.logradouro}}
            </span>
          </div>
          <div class="col-2">
            <h6 class="card-subtitle  mt-2 text-muted">
              Número
            </h6>
            <span>
              {{this.usuario.endereco.numero}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Complemento
            </h6>
            <span>
              {{this.usuario.endereco.complemento}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Bairro
            </h6>
            <span>
              {{this.usuario.endereco.bairro}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Localidade
            </h6>
            <span>
              {{this.usuario.endereco.localidade}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Estado
            </h6>
            <span>
              {{this.usuario.endereco.uf}}
            </span>
          </div>
        </div>

        <h5 class="card-title mt-5">
          Informações financeiras do usuário
        </h5>

        <div class="row">
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Saldo conta Normal
            </h6>
            <span>
              R$ {{this.conta.saldoContaNormal}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Saldo conta Eventual
            </h6>
            <span>
              R$ {{this.conta.saldoContaEventual}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Saldo total geral
            </h6>
            <span>
              R$ {{this.conta.saldoTotalGeral}}
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
