<div class="container">


  <div class="row mb-2">

    <div class="" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary ml-5" (click)="abrirModalDeposito(depositoModal)">
        Depositar
      </button>
      <button type="button" class="btn btn-primary ml-5" (click)="abrirModalSaque(saqueModal)">
        Sacar
      </button>
      <button type="button" class="btn btn-primary ml-5" (click)="abrirModalExtrato(modalExtrato)">
        Extrato
      </button>
      <button type="button" class="btn btn-primary ml-5" (click)="abrirModalEditar(editarModal)">
        <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
        Editar Informações do Usuário
      </button>
    </div>

    <!-- MODAL DE DEPOSITO -->
    <ng-template #depositoModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title">
          Efetuar Deposito
        </h4>
      </div>
      <div class="modal-body">
        <form #opDepositoForm="ngForm" (ngSubmit)="deposito(opDepositoForm)">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="valor">Valor</label>
                <input type="money" mask="dot_separator.2" name="valor" class="form-control" id="valor"
                       placeholder="Valor"
                       ngModel>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="tipoDeContadDeposito">Tipo de Conta</label>
                <select name="tipoDeConta" class="form-control" id="tipoDeContadDeposito" ngModel>
                  <option value="">
                    Selecione um tipo de conta...
                  </option>
                  <option value="Normal">
                    Normal
                  </option>
                  <option value="Eventual">
                    Eventual
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div *ngIf="this.erro" class="alert alert-danger" role="alert">
            Saldo insuficiente.
          </div>

          <button type="submit" class="btn btn-primary mb-2 mr-2"> CONFIRMAR</button>
        </form>
      </div>
    </ng-template>

    <!-- MODAL DE SAQUE -->
    <ng-template #saqueModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title">
          Efetuar Saque
        </h4>
      </div>
      <div class="modal-body">
        <form #opSaqueForm="ngForm" (ngSubmit)="saque(opSaqueForm)">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="valorSaque">Valor</label>
                <input type="money" mask="dot_separator.2" name="valor" class="form-control" id="valorSaque"
                       placeholder="Valor"
                       ngModel>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="tipoDeContaSaque">Tipo de Conta</label>
                <select name="tipoDeConta" class="form-control" id="tipoDeContaSaque" ngModel>
                  <option value="">
                    Selecione um tipo de conta...
                  </option>
                  <option value="Normal">
                    Normal
                  </option>
                  <option value="Eventual">
                    Eventual
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div *ngIf="this.erro" class="alert alert-danger" role="alert">
            Saldo insuficiente.
          </div>

          <button type="submit" class="btn btn-primary mb-2 mr-2"> CONFIRMAR</button>
        </form>
      </div>
    </ng-template>

    <!-- MODAL DE EXTRATO -->
    <ng-template #modalExtrato>
      <div class="modal-header">
        <h4 class="modal-title">
          Extrato
        </h4>
      </div>
      <div class="modal-body">
        <h6>
          Conta: {{this.conta.id}}
        </h6>
        <h6>
          Nome Completo: {{this.conta.usuario.nomeCompleto}}
        </h6>
        <h6>
          CPF: {{this.conta.usuario.cpf}}
        </h6>
        <h6>
          Saldo Conta Normal: R$ {{this.conta.saldoContaNormal}}
        </h6>
        <h6>
          Saldo Conta Eventual: R$ {{this.conta.saldoContaEventual}}
        </h6>
        <hr>
        <div *ngFor="let op of operacoes">
          <div>
            Data: {{op.data | date: 'dd-MM-yyyy HH:mm:ss'}}
          </div>
          <div>
            Operação: {{op.operacao === 'Depositar' ? 'Deposito' : 'Saque'}}
          </div>
          <div>
            Valor: {{op.valor}}
          </div>
          <div>
            Tipo Conta: {{op.tipoDeConta}}
          </div>
          <hr>
        </div>
      </div>
    </ng-template>

    <!-- MODAL DE EDITAR -->
    <ng-template #editarModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title">
          Editar dados de {{this.usuario.nomeCompleto}}
        </h4>
      </div>
      <div class="modal-body">
        <form #editarForm="ngForm" (ngSubmit)="editar(editarForm)">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="phone" name="telefone" maxlength="15" class="form-control" id="telefone"
                       placeholder="Telefone"
                       [(ngModel)]="this.usuario.telefone" mask='(00) 00000-0000'>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="E-mail"
                       [(ngModel)]="this.usuario.email">
              </div>
            </div>
          </div>

          <h4>Endereço</h4>

          <div class="row">
            <div class="col-2">
              <div class="form-group">
                <label for="cep">CEP</label>
                <input type="text" name="cep" class="form-control" id="cep" placeholder="CEP"
                       [(ngModel)]="this.usuario.endereco.cep" (input)="buscarPorCep(editarForm)" maxlength="9"
                       mask='00000-000'>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="logradouro">Logradouro</label>
                <input type="text" name="logradouro" class="form-control" id="logradouro" placeholder="Logradouro"
                       [(ngModel)]="this.usuario.endereco.logradouro">
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label for="numero">Número</label>
                <input type="number" name="numero" class="form-control" id="numero" placeholder="Nº"
                       [(ngModel)]="this.usuario.endereco.numero" maxlength="6">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="complemento">Complemento</label>
                <input type="email" name="complemento" class="form-control" id="complemento" placeholder="Complemento"
                       [(ngModel)]="this.usuario.endereco.complemento">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="bairro">Bairro</label>
                <input type="texto" name="bairro" class="form-control" id="bairro" placeholder="Bairro"
                       [(ngModel)]="this.usuario.endereco.bairro">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="localidade">Localidade</label>
                <input type="text" name="localidade" class="form-control" id="localidade" placeholder="Localidade"
                       [(ngModel)]="this.usuario.endereco.localidade">
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="uf">Estado</label>
                <input type="text" name="uf" class="form-control" id="uf" placeholder="Estado"
                       [(ngModel)]="this.usuario.endereco.uf" maxlength="2">
              </div>
            </div>


          </div>

          <div *ngIf="this.erro" class="alert alert-danger" role="alert">
            Saldo insuficiente.
          </div>

          <button type="submit" class="btn btn-primary mb-2 mr-2"> CONFIRMAR</button>
        </form>
      </div>
    </ng-template>


  </div>

  <div class="card">
    <div class="col-12">
      <div class="card-body">
        <h5 class="card-title">
          Informações do usuário
        </h5>
        <div class="row">
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Nome Completo
            </h6>
            <span>
              {{this.usuario.nomeCompleto}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              CPF
            </h6>
            <span>
              {{this.usuario.cpf | mask: '000.000.000-00'}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Telefone
            </h6>
            <span>
              {{this.usuario.telefone | mask: '(00) 00000-0000' }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <h6 class="card-subtitle  mt-2 text-muted">
              Sexo
            </h6>
            <span>
              {{this.usuario.sexo}}
            </span>
          </div>
          <div class="col-3">
            <h6 class="card-subtitle  mt-2 text-muted">
              E-mail
            </h6>
            <span>
              {{this.usuario.email}}
            </span>
          </div>
          <div class="col-3">
            <h6 class="card-subtitle  mt-2 text-muted">
              Data de nascimento
            </h6>
            <span>
              {{this.usuario.dataDeNascimento | mask: '00/00/0000'}}
            </span>
          </div>
          <div class="col-3">
            <h6 class="card-subtitle mt-2 text-muted">
              Idade
            </h6>
            <span>
              {{this.usuario.idade}}
            </span>
          </div>
        </div>
        <h5 class="card-title mt-5">
          Endereço do usuário
        </h5>
        <div class="row">
          <div class="col-2">
            <h6 class="card-subtitle  mt-2 text-muted">
              CEP
            </h6>
            <span>
              {{this.usuario.endereco.cep | mask: '00000-000'}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Logradouro
            </h6>
            <span>
              {{this.usuario.endereco.logradouro}}
            </span>
          </div>
          <div class="col-2">
            <h6 class="card-subtitle  mt-2 text-muted">
              Número
            </h6>
            <span>
              {{this.usuario.endereco.numero}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Complemento
            </h6>
            <span>
              {{this.usuario.endereco.complemento}}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Bairro
            </h6>
            <span>
              {{this.usuario.endereco.bairro}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Localidade
            </h6>
            <span>
              {{this.usuario.endereco.localidade}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Estado
            </h6>
            <span>
              {{this.usuario.endereco.uf}}
            </span>
          </div>
        </div>

        <h5 class="card-title mt-5">
          Informações financeiras do usuário
        </h5>

        <div class="row">
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Saldo conta Normal
            </h6>
            <span>
              R$ {{this.conta.saldoContaNormal}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Saldo conta Eventual
            </h6>
            <span>
              R$ {{this.conta.saldoContaEventual}}
            </span>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle  mt-2 text-muted">
              Saldo total geral
            </h6>
            <span>
              R$ {{this.conta.saldoTotalGeral}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
