<div class="container">
  <form #usuarioForm="ngForm" (ngSubmit)="novoUsuario(usuarioForm)">
    <div class="form-group">
      <label for="inputNome">Nome</label>
      <input type="text"
             class="form-control"
             id="inputNome"
             placeholder="Nome">
    </div>
    <div class="form-group">
      <label for="inputCPF">CPF</label>
      <input type="number" class="form-control" id="inputCPF" placeholder="CPF">
    </div>
    <div class="form-group">
      <label for="inputDataNascimento">Data de Nascimento</label>
      <input type="" class="form-control" id="inputDataNascimento" placeholder="Data de nascimento">
    </div>
    <div class="form-group">
      <label for="inputIdade">Idade</label>
      <input type="number" class="form-control" id="inputIdade" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="inputSexo">Sexo</label>
      <select class="custom-select"
              name=""
              id="inputSexo">
        <option value>Selecione o Sexo</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputEmail">E-mail</label>
      <input  type="email" class="form-control" id="inputEmail" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="inputTelefone">Telefone</label>
      <input type="phone" class="form-control" id="inputTelefone" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
  </form>
</div>
