<div class="container">

  <div class="col-12">
    <form #usuarioForm="ngForm" (ngSubmit)="novoUsuario(usuarioForm)">
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="nomeCompleto">Nome Completo</label>
            <input type="text" name="nomeCompleto" class="form-control" id="nomeCompleto" placeholder="Nome Completo"
                   ngModel>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" name="cpf" class="form-control" id="cpf" placeholder="CPF"
                   ngModel maxlength="11">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="phone" name="telefone" class="form-control" id="telefone" placeholder="Telefone"
                   ngModel>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="sexo">Sexo</label>
            <select name="sexo" class="form-control" id="sexo"
                    [ngModel]="'Sexo'">
              <option value="Masculino">Masculino</option>
              <option value="Feminino">Feminino</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="E-mail"
                   ngModel>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="dataDeNascimento">Data de nascimento</label>
            <input type="email" name="dataDeNascimento" class="form-control" id="dataDeNascimento" placeholder="Data de nascimento"
                   ngModel>
          </div>
        </div>
      </div>

      <h2>Endereço</h2>

      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="cep">CEP</label>
            <input type="email" name="cep" class="form-control" id="cep" placeholder="CEP"
                   ngModel (input)="buscarPorCep(usuarioForm)" maxlength="8">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="logradouro">Logradouro</label>
            <input type="text" name="logradouro" class="form-control" id="logradouro" placeholder="Logradouro"
                   [(ngModel)]="this.endereco.logradouro">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="complemento">Complemento</label>
            <input type="email" name="complemento" class="form-control" id="complemento" placeholder="Complemento"
                   ngModel>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="bairro">Bairro</label>
            <input type="texto" name="bairro" class="form-control" id="bairro" placeholder="Bairro"
                   [(ngModel)]="this.endereco.bairro">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="localidade">Localidade</label>
            <input type="text" name="localidade" class="form-control" id="localidade" placeholder="Localidade"
                   [(ngModel)]="this.endereco.localidade">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="uf">Estado</label>
            <input type="text" name="uf" class="form-control" id="uf" placeholder="Estado"
                   [(ngModel)]="this.endereco.uf" maxlength="2">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <button type="submit" class="btn btn-primary">
            Adicionar
          </button>
        </div>
        <div class="col-4">
          <div *ngIf="cepNaoEncontrado" class="alert alert-danger" role="alert">
            CEP não encontrado.
          </div>
        </div>
      </div>
    </form>
  </div>


</div>
